<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" formControlName="email" />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      class="form-text text-danger"
    >
      Valid Email is required
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" />
    <div
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
      class="form-text text-danger"
    >
      Password is required
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary w-100"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
</form>
<!-- don't have an account -->
<div class="text-center mt-3">
  <a routerLink="/signup">Don't have an account? Signup</a>
</div>
